<header class="header-background">
  <div class="header-section">
    <div class="header-headline">
      <h1 class="mat-h1">Lostark Calculator</h1>
      <h2 class="mat-h2">Lost arc optimization calculator</h2>
    </div>
  </div>
</header>
<main class="home-main">
  <div class="row">
    <div class="row-header">
      <h2>Main features</h2>
    </div>
    <div class="feature-list">
      <a routerLink="refining" class="feature-item">
        <mat-card>
          <mat-card-title> Refine optimization </mat-card-title>
          <div class="card-divider"></div>
          <mat-card-content class="card-summary">
            We recommend the optimal refining method based on the refining material price.
          </mat-card-content>
        </mat-card>
      </a>
      <a routerLink="imprinting" class="feature-item">
        <mat-card>
          <mat-card-title> Imprint optimization </mat-card-title>
          <div class="card-divider"></div>
          <mat-card-content class="card-summary">
            The accessories needed to match the engraving are at the lowest price at the auction house.
            finds it
          </mat-card-content>
        </mat-card>
      </a>
      <a routerLink="tripod" class="feature-item">
        <mat-card>
          <mat-card-title> Topo lunch box </mat-card-title>
          <div class="card-divider"></div>
          <mat-card-content class="card-summary">
            We find tripod lunch boxes at the lowest price on the auction house.
          </mat-card-content>
        </mat-card>
      </a>
      <a routerLink="stone" class="feature-item">
        <mat-card>
          <mat-card-title> Ability stonework </mat-card-title>
          <div class="card-divider"></div>
          <mat-card-content class="card-summary">
            The optimal selection is made so that the ability stone reaches the target crafting value.
            I recommend it.
          </mat-card-content>
        </mat-card>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="row-header">
      <h2>Community</h2>
    </div>
    <div class="feature-list">
      <a
        target="_blank"
        href="https://discord.gg/uCCp75c2aM"
        class="feature-item"
      >
        <mat-card>
          <mat-card-title> Discord </mat-card-title>
          <div class="card-divider"></div>
          <mat-card-content class="card-summary">
            Error inquiry and update notification window
          </mat-card-content>
        </mat-card>
      </a>
      <a target="_blank" href="https://icepeng.com/" class="feature-item">
        <mat-card>
          <mat-card-title> Blog </mat-card-title>
          <div class="card-divider"></div>
          <mat-card-content class="card-summary">
            User Manual and Update Notice
          </mat-card-content>
        </mat-card>
      </a>
      <a
        target="_blank"
        href="https://github.com/icepeng/loa-calc"
        class="feature-item"
      >
        <mat-card>
          <mat-card-title> GitHub </mat-card-title>
          <div class="card-divider"></div>
          <mat-card-content class="card-summary">
            LoaCalc open source
          </mat-card-content>
        </mat-card>
      </a>
      <a routerLink="donate" class="feature-item">
        <mat-card>
          <mat-card-title> Donate </mat-card-title>
          <div class="card-divider"></div>
          <mat-card-content class="card-summary">
            Please support LoaCalc
          </mat-card-content>
        </mat-card>
      </a>
    </div>
  </div>
</main>
<ng-adsense
  [className]="'banner-slot'"
  [adSlot]="5161029086"
  [fullWidthResponsive]="true"
  [adFormat]="'horizontal'"
></ng-adsense>