<h1 mat-dialog-title>Add item</h1>
<div mat-dialog-content>
  <div>
    <mat-form-field class="w-240">
      <mat-label>region</mat-label>
      <mat-select [(ngModel)]="accMap.category">
        <mat-option value="Necklace"> Necklace </mat-option>
        <mat-option value="earring"> earrings </mat-option>
        <mat-option value="Ring"> Ring </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field class="w-240">
      <mat-label>Item name</mat-label>
      <input
        [(ngModel)]="accMap.name"
        type="text"
        matInput
        appSelectOnFocus
        [matAutocomplete]="auto3"
      />
      <mat-autocomplete autoActiveFirstOption #auto3="matAutocomplete">
        <mat-option
          *ngFor="let option of filterItemName(accMap.name)"
          [value]="option"
        >
          {{ option }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field class="w-240">
      <mat-label>Quality</mat-label>
      <input
        [(ngModel)]="accMap.quality"
        matInput
        appSelectOnFocus
        type="number"
      />
    </mat-form-field>
  </div>

  <div>
    <mat-form-field class="w-192">
      <mat-label>Combat Traits 1</mat-label>
      <mat-select [(ngModel)]="accMap.dealOption1[0]">
        <mat-option *ngFor="let option of dealOptions" [value]="option">
          {{ option }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="w-48">
      <mat-label>Number</mat-label>
      <input
        [(ngModel)]="accMap.dealOption1[1]"
        matInput
        appSelectOnFocus
        type="number"
      />
    </mat-form-field>
  </div>

  <div *ngIf="accMap.category === 'Necklace'">
    <mat-form-field class="w-192">
      <mat-label>Combat Traits 2</mat-label>
      <mat-select [(ngModel)]="accMap.dealOption2![0]">
        <mat-option *ngFor="let option of dealOptions" [value]="option">
          {{ option }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="w-48">
      <mat-label>Number</mat-label>
      <input
        [(ngModel)]="accMap.dealOption2![1]"
        matInput
        appSelectOnFocus
        type="number"
      />
    </mat-form-field>
  </div>

  <div>
    <mat-form-field class="w-192">
      <mat-label>Engraving 1</mat-label>
      <input
        [(ngModel)]="accMap.imprintOption1[0]"
        type="text"
        matInput
        appSelectOnFocus
        [matAutocomplete]="auto"
      />
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        <mat-option
          *ngFor="let option of filterImprint(accMap.imprintOption1[0])"
          [value]="option"
        >
          {{ option }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <mat-form-field class="w-48">
      <mat-label>Number</mat-label>
      <input
        [(ngModel)]="accMap.imprintOption1[1]"
        matInput
        appSelectOnFocus
        type="number"
      />
    </mat-form-field>
  </div>

  <div>
    <mat-form-field class="w-192">
      <mat-label>Engraving 2</mat-label>
      <input
        [(ngModel)]="accMap.imprintOption2[0]"
        type="text"
        matInput
        appSelectOnFocus
        [matAutocomplete]="auto2"
      />
      <mat-autocomplete autoActiveFirstOption #auto2="matAutocomplete">
        <mat-option
          *ngFor="let option of filterImprint(accMap.imprintOption2[0])"
          [value]="option"
        >
          {{ option }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <mat-form-field class="w-48">
      <mat-label>Number</mat-label>
      <input
        [(ngModel)]="accMap.imprintOption2[1]"
        matInput
        appSelectOnFocus
        type="number"
      />
    </mat-form-field>
  </div>

  <div>
    <mat-form-field class="w-192">
      <mat-label>Reduced engraving</mat-label>
      <mat-select [(ngModel)]="accMap.imprintPenalty[0]">
        <mat-option *ngFor="let option of penaltyOptions" [value]="option">
          {{ option }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="w-48">
      <mat-label>Number</mat-label>
      <input
        [(ngModel)]="accMap.imprintPenalty[1]"
        matInput
        appSelectOnFocus
        type="number"
      />
    </mat-form-field>
  </div>
</div>

<div>
  <mat-form-field class="w-240">
    <mat-label>Price</mat-label>
    <input
      [(ngModel)]="price"
      matInput
      appSelectOnFocus
      type="number"
      appSelectOnFocus
    />
    <span matSuffix>Gold</span>
  </mat-form-field>
</div>

<div mat-dialog-actions>
  <button color="primary" mat-flat-button (click)="onSubmit()">Save</button>
  <button mat-stroked-button (click)="onCancel()">Cancel</button>
</div>