<mat-toolbar class="navbar mat-elevation-z6" color="primary">
  <a
    routerLink="/"
    routerLinkActive="nav-selected"
    [routerLinkActiveOptions]="{ exact: true }"
    mat-button
    class="title"
    >Lostark Calculator</a
  >
  <a routerLink="refining" routerLinkActive="nav-selected" mat-button
    >refinement optimization</a
  >
  <a routerLink="imprinting" routerLinkActive="nav-selected" mat-button
    >Engraving optimization</a
  >
  <a routerLink="tripod" routerLinkActive="nav-selected" mat-button
    >Topo lunch box</a
  >
  <a routerLink="stone" routerLinkActive="nav-selected" mat-button
    >Ability Stone</a
  >
  <a routerLink="raid-box" routerLinkActive="nav-selected" mat-button
    >More P&L</a
  >
  <a routerLink="dps" routerLinkActive="nav-selected" mat-button
    >Spec Simulator (Beta)</a
  >
  <div class="filler"></div>
  <button class="menu" mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>format_color_fill</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="lightTheme()">Light theme</button>
    <button mat-menu-item (click)="darkTheme()">Dark theme</button>
  </mat-menu>
  <a target="_blank" href="https://discord.gg/uCCp75c2aM" mat-button>Discord</a>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
    <mat-toolbar color="primary">
      <div class="filler"></div>
      <div class="mat-caption">Copyright © 2021 icepeng</div>
      <a routerLink="donate" mat-button>Donate</a>
      <div class="filler"></div>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>